<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="../static/css/bulma.css">
<link rel="stylesheet" href="../static/css/landing.css">
<link rel="stylesheet" href="../static/css/font-awesome.css">
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<link href="https://fonts.googleapis.com/css?family=Arvo|Josefin+Sans|Karla|Questrial|Quicksand" rel="stylesheet">
<link rel="stylesheet" href="../static/css/fa-animation.css">

<section id="header" class="hero is-fullheight is-primary is-bold is-header--background header__image">
	<div class="hero-body">
		<div class="container">
			<p class="title header__text">Hello, friend from <span id="counter" class="header__text-counter">0</span> miles away.</p>
			<p class="subtitle is-3 header__subtitle">I am Tom. Student, Coder, Burrito Enthuisiast.</p>
			
		</div>
	</div>
	<div class="floaty">
		<div>
			<p class="subtitle is-4 floaty__text">Find out more</p>
				<div>
				<i class="fa fa-chevron-down faa-float animated" aria-hidden="true"></i>
				</div>
			
		</div>
			
	</div>
</section>


<section class="">
	<div class="container">
		<div class="content profile__content">
			<h1 class="has-text-centered"><strong>Where I've worked.</strong></h1>
			<div class="underline"></div>
		</div>
	</div>
</section>

<section class="timeline">
	<div class="timeline__dot">
		<div class="timeline__dot-container">
		</div>
	</div>
  <ul>
	<li>
		<div class="box timeline__event">
			<article class="media">
				<div class="media-left">
					<figure class="image is-64x64">
						<img src="https://www.eslwatch.info/images/Images-Logos/Europe/European_School_of_Brussels.jpg" alt="Image">
					</figure>
				</div>
				<div class="media-content">
					<div>
						<p>
							<time>High School</time> <div class="media-content__column"><small>@Ecole Europeenne Bruxelles 2</small><strong class="is-right-aligned ">2001 – 2014</strong></div>
							<br>
							<p class="timeline__event__text">European Baccalaureate with focus on <b>Mathematics, Economics and Chemistry.</b></p>
						</p>
					</div>
				</div>
			</article>
		</div>
	</li>
	<li>
		<div class="box timeline__event">
			<article class="media">
				<div class="media-left">
					<figure class="image is-64x64">
						<img src="../static/img/celonis.png" alt="Image">
					</figure>
				</div>
				<div class="media-content">
					<div>
						<p>
							<time>Student Intern</time> <div class="media-content__column"><small>@Celonis</small><strong class="is-right-aligned ">June 2012</strong></div>
							<br>
							<p class="timeline__event__text">My first internship at a <b>small startup</b> gave me insights into the day-to-day operations of a software business with &lt;10 employees. I shadowed the CEO as-well-as several software engineers in order to learn about their daily work life. This experience greatly contributed to my <b>enthusiasm for the tech industry.</b></p>
						</p>
					</div>
				</div>
			</article>
		</div>
	</li>
	<li>
		<div class="box timeline__event">
			<article class="media">
				<div class="media-left">
					<figure class="image is-64x64">
						<img src="https://images.fineartamerica.com/images-medium-large/2-rabbit-sitting-life-on-white.jpg" alt="Image">
					</figure>
				</div>
				<div class="media-content">
					<div>
						<p>
							<time class="">Visual Post Production Intern</time> <div class="media-content__column"><small>@Life on White</small><strong class="is-right-aligned ">June 2013</strong></div>
							<br>
							<p class="timeline__event__text">This internship helped me develop my <b>creative skills</b> in <b>Adobe Photoshop</b> through retouching and editing image material produced by the in-house photographers. I was part of a <b>team of four designers</b> that worked on guaranteeing consistent quality across all imagery used for the stock image market.</p>
						</p>
					</div>
				</div>
			</article>
		</div>
	</li>
	<li>
		<div class="box timeline__event">
			<article class="media">
				<div class="media-left">
					<figure class="image is-64x64">
						<img src="../static/img/uoe.svg.png" alt="Image">
					</figure>
				</div>
				<div class="media-content">
					<div>
						<p>
							<time>University</time> <div class="media-content__column"><small>@The University of Edinburgh</small><strong class="is-right-aligned ">2014 – 2018</strong></div>
							<br>
							<p class="timeline__event__text">On track to graduate with a <b>First</b> in <b>Computer Science and Management Science.</b> <br>Focus on <b>applied machine learning</b> and <b>human-computer interaction</b></p>
						</p>
					</div>
				</div>
			</article>
		</div>
	</li>
	<li>
		<div class="box timeline__event">
			<article class="media">
				<div class="media-left">
					<figure class="image is-64x64">
						<img src="../static/img/celonis.png" alt="Image">
					</figure>
				</div>
				<div class="media-content">
					<div>
						<p>
							<time>Development Intern</time> <div class="media-content__column"><small>@Celonis</small><strong class="is-right-aligned ">June 2016 - Sept. 2016</strong></div>
							<br>
							<p class="timeline__event__text">Working on several concurrent projects including the development of new components for the web-app written in <b>JavaScript, Java, HTML and CSS, utilising Angular, jQuery, Spring, Jade and SCSS.</b> Also included was the development of a custom <b>SAP Web-Dynpro</b> implementation of the web-app utilising JavaScript and small amounts of ABAP. The latter project was completed on my own with no prior knowledge of the SAP environment which proves my ability of <b>self-teaching.</b></p>
						</p>
					</div>
				</div>
			</article>
		</div>
	</li>
	<li>
		<div class="box timeline__event">
			<article class="media">
				<div class="media-left">
					<figure class="image is-64x64">
						<img src="http://www.financialservicesfees.com/wp-content/uploads/2014/10/unnamed.png" alt="Image">
					</figure>
				</div>
				<div class="media-content">
					<div>
						<p>
							<time>Software Engineering Intern</time> <div class="media-content__column"><small>@Capital One</small><strong class="is-right-aligned ">June 2017 - Sept. 2017</strong></div>
							<br>
							<p class="timeline__event__text">I was part of a team responsible for developing and maintaining high-visibility, agent-facing software working mostly on <b>UI development</b> and <b>UX design</b>, contributing production-level code within a few weeks of on-boarding. Developed new <p>Javascript based UI components</b> as well as <b>implementing a novel micro-framework</b> to facilitate future front-end development and <b>enforce modern best-practices</b>. <br/> Also completed internal training for <b>cloud computing</b>, learning about <b>Amazon Web Services</b> and helping my team deploy cloud solutions. </p>
						</p>
					</div>
				</div>
			</article>
		</div>
	</li>
  </ul>
  <div class="timeline__end">
  </div>
</section>



<section class="section is-info projects">
	<div class="container">
		<div class="content profile__content">
			<h1 class="has-text-centered"><strong>Some of the stuff I've done.</strong></h1>
			<div class="underline"></div>
		</div>
		<div class="tile is-ancestor">
		  <div class="tile is-vertical is-8">
			<div class="tile">
			  <div class="tile is-parent">
				<article class="tile is-child notification project project--ggg">
				  <p class="title project__text-trophy">GGG</p><i class="fa fa-trophy float--right project__trophy" aria-hidden="true"></i>
				  <p class="subtitle">Game</p>
				  <figure class="image is-4by3">
				  </figure>
				</article>
			  </div>
			  <div class="tile is-parent project--kanye__gradient">
				<article class="tile is-child notification project project--kanye">
				  <p class="title project__text-trophy">KanyeRest</p><i class="fa fa-trophy float--right project__trophy" aria-hidden="true"></i>
				  <p class="subtitle">API</p>
				  <figure class="image is-4by3">
				  </figure>
				</article>
			  </div>
			</div>
			<div class="tile is-parent">
			  <article class="tile is-child notification project project--hacman">
				<p class="title">Hac Man</p>
				<p class="subtitle">Game</p>
				<div class="content">
				</div>
			  </article>
			</div>
		  </div>
		  <div class="tile is-parent">
			<article class="tile is-child notification project project--preds">
			  <div class="content">
				<p class="title">Edinburgh Preds</p>
				<p class="subtitle">Website</p>
				<figure class="image is-4by3">
				</figure>
				<div class="content">
				</div>
			  </div>
			</article>
		  </div>
		</div>
		<div class="content">
			<p class="has-text-right"><a href="http://www.github.com/tomcek112">...more</a></p>
		</div>
	</div>
</section>

<section class="section is-info no-padding-top">
	<div class="container">
		<div class="content profile__content">
			<h1 class="has-text-centered"><strong>What I'm good at.</strong></h1>
			<div class="underline"></div>
		</div>
		<div class="columns">
			<div class="column is-7">
				<div class="tabs is-toggle is-fullwidth is-medium">
				  <ul class="skills__tabs">
				    <li class="is-active">
				      <a>
				        <span class="icon"><i class="fa fa-id-card-o"></i></span>
				        <span>Front-end</span>
				      </a>
				    </li>
				    <li>
				      <a>
				        <span class="icon"><i class="fa fa-server"></i></span>
				        <span>Back-end</span>
				      </a>
				    </li>
				    <li>
				      <a>
				        <span class="icon"><i class="fa fa-wrench"></i></span>
				        <span>Tools</span>
				      </a>
				    </li>
				    <!-- <li>
				      <a>
				        <span class="icon"><i class="fa fa-file-text-o"></i></span>
				        <span>Documents</span>
				      </a>
				    </li> -->
				  </ul>
				</div>
				<div class="skill__container">
					<div class="skill__section skill__frontend">
						<div>
							<span class="has-text-centered skill">
							  <i class="devicon-javascript-plain colored"></i>
							</span>
							<span class="has-text-centered skill">
							  <i class="devicon-css3-plain-wordmark colored"></i>
							</span>
							<span class="has-text-centered skill">
							  <i class="devicon-html5-plain-wordmark colored"></i>
							</span>
							<span class="has-text-centered skill">
							  <i class="devicon-angularjs-plain colored"></i>
							</span>
							<span class="has-text-centered skill">
							  <i class="devicon-bootstrap-plain-wordmark colored"></i>
							</span>
							<span class="has-text-centered skill">
							  <i class="devicon-react-original-wordmark colored"></i>
							</span>
						</div>
					</div>
					<div class="skill__section skill__backend skill__none">
						<div>
							<span class="has-text-centered skill">
							  <i class="devicon-java-plain-wordmark colored"></i>
							</span>
							<span class="has-text-centered skill">
							  <i class="devicon-python-plain-wordmark colored"></i>
							</span>
							<span class="has-text-centered skill">
							  <i class="devicon-nodejs-plain colored"></i>
							</span>
							<span class="has-text-centered skill">
							  <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
							</span>
						</div>
						<div class="columns">
							<span class="has-text-centered skill__hidden">
							  <i class="devicon-bootstrap-plain-wordmark colored"></i>
							</span>
						</div>
					</div>
					<div class="skill__section skill__tools skill__none">
						<div>
							<span class="has-text-centered skill">
							  <i class="devicon-git-plain-wordmark colored"></i>
							</span>
							<span class="has-text-centered skill__hidden">
							  <i class="devicon-bootstrap-plain-wordmark colored"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="column skillbox">
			  <span class="content skill__description skill__description--active">
				  <h2 class="skill__name">Javascript <!-- <strong class="skill__expertise">Proficient</strong> --></h2>
				  <p><b>4 years</b> of Javascript development experience through two seperate internships and multiple side projects. Able to write <b>clean and efficient ES2015+ code.</b> Strong understanding of <b>DOM interactions, prototypical inheritance, functional programming and asynchronous functions.</b></p>
				  <dl>
				    <dt>As seen in:</dt>
				    <dd>
				    	<li><a href="https://github.com/tomcek112/HacMan">HacMan</a></li>
				    	<li><a href="https://github.com/tomcek112/GUTSHack">GGG</a></li>
				    	<li><a href="https://github.com/tomcek112/tbc">This very website</a></li>
					</dd>
				  </dl>
			  </span>
			  <span class="content skill__description">
				  <h2 class="skill__name">CSS 3</h2>
				  <p><b>Deep understanding</b> of CSS 3 and advanced features such as <b>media queries, flexbox, animations and SVG.</b> Experience using <b>Sass</b> and <b>BEM.</b> Experience in designing and coding <b>responsive websites</b> that look great on every device.</p>
				  <dl>
				    <dt>As seen in:</dt>
				    <dd>
				    	<li><a href="https://github.com/tomcek112/HacMan">HacMan</a></li>
				    	<li><a href="https://github.com/tomcek112/tbc">This very website</a></li>
					</dd>
				  </dl>
			  </span>
			  <span class="content skill__description">
				  <h2 class="skill__name">HTML 5</h2>
				  <p>Comfortable with all major features in HTML 5 including <b>canvas, HTML 5 video and SVG.</b> Experience using <b>Jade (Pug)</b> and similar abstractions.</p>
				  <dl>
				    <dt>As seen in:</dt>
				    <dd>
				    	<li><a href="https://github.com/tomcek112/HacMan">HacMan (canvas)</a></li>
				    	<li><a href="https://github.com/tomcek112/GUTSHack">GGG (canvas)</a></li>
				    	<li><a href="https://www.edinburghpreds.com">edinburghpreds.com</a></li>
				    	<li><a href="https://github.com/tomcek112/tbc">This very website</a></li>
					</dd>
				  </dl>
			  </span>
			  <span class="content skill__description">
				  <h2 class="skill__name">AngularJS</h2>
				  <p>Experience using AngularJS in <b>professional and personal environments</b> through internships and personal projects. Familiarity with all major components and underlying concepts.</p>
			  </span>
			  <span class="content skill__description">
				  <h2 class="skill__name">Bootstrap</h2>
				  <p>Deployed <b>multiple websites</b> based on Bootstrap, developed with a <b>mobile-first</b> design approach. Understanding of all underlying features such as <b>CSS grids</b> and <b>responsive design.</b></p>
				  <dl>
				    <dt>As seen in:</dt>
				    <dd>
				    	<li><a href="https://www.edinburghpreds.com">edinburghpreds.com</a></li>
				    	<li><a href="https://github.com/tomcek112/KanyeRest">KanyeRest.com</a></li>
					</dd>
				  </dl>
			  </span>
			  <span class="content skill__description">
				  <h2 class="skill__name">React</h2>
				  <p>High-level understanding of technologies used and applications in a professional environment. Familiarity with <b>component-based architecture</b> and <b>JSX.</b></p>
			  </span>
			  <span class="content skill__description">
				  <h2 class="skill__name">Java</h2>
				  <p>Experience designing and implementing <b>fast and efficient class hierarchies</b> as well as <b>web-services</b> and <b> REST APIs</b> using <b>Spring Boot.</b></p>
			  </span>
			  <span class="content skill__description">
				  <h2 class="skill__name">Python</h2>
				  <p>Understanding of Python and its applications in multiple contexts such as <b>web-servicing, data analysis and machine-learning.</b> Experience with multiple packages in those areas including <b>Numpy, Scikit-learn, Pandas and Flask.</b></p>
				  <dl>
				    <dt>As seen in:</dt>
				    <dd>
				    	<li><a href="https://github.com/tomcek112/KanyeRest">KanyeRest.com</a></li>
				    	<li><a href="https://github.com/deirdreams/Sudokode">Sudokode</a></li>
					</dd>
				  </dl>
			  </span>
			  <span class="content skill__description">
				  <h2 class="skill__name">NodeJS</h2>
				  <p>High-level understanding of underlying concepts and experience in <b>development, testing and deployment of APIs.</b></p>
			  </span>
			  <span class="content skill__description">
				  <h2 class="skill__name">Amazon Web Services</h2>
				  <p>Experience with multiple parts of the offered packages including <b>EC2, S3 buckets and Lambda.</b> Learned about large-scale AWS development and associated <b>common practices</b> at my internship at Capital One.</p>
			  </span>
			  <span class="content skill__description">
				  <h2 class="skill__name">Git</h2>
				  <p>Understanding of Git and its uses in private and professional settings. Experience in associated patterns and best practices such as <b>feature branches, pull-requests etc.</b></p>
				  <dl>
				    <dt><a href="https://github.com/tomcek112">See my GitHub page</a></dt>
				  </dl>
			  </span>
			</div>
		</div>
	</div>
</section>

<section class="footer__shadow">
	<div class="container">

	</div>
</section>

<section class="hero is-medium is-primary is-bold footer__container">
	<div class="hero-body">
		<div class="container">
			<div class="content has-text-centered footer">
			  <p>
				<strong>Thanks for visiting!</strong> Made with &#x1F32F; and <a class="footer__link" href="http://bulma.io">Bulma</a>, code on <a class="footer__link" href="http://www.github.com/tomcek112">Github</a>. Find me on social media:
			  </p>
			  <p>
				<a class="icon" href="https://github.com/tomcek112">
				  <i class="fa fa-github"></i>
				</a>
				<a class="icon" href="https://www.linkedin.com/in/thomaslutzeyer/">
				  <i class="fa fa-linkedin-square"></i>
				</a>
				<a class="icon" href="https://www.instagram.com/tomlutzeyer/">
				  <i class="fa fa-instagram"></i>
				</a>
				<a class="icon" href="https://medium.com/@tomcek112">
				  <i class="fa fa-medium"></i>
				</a>
			  </p>
			</div>
		</div>
	</div>
</section>





<div class="modals">
	<div class="modal modal__javascript">
		<div class="modal-background" onclick="$('.modal__javascript').toggleClass('is-active');"></div>
		<div class="modal-content">
			<div class="box">
				<article class="media">
					<div class="media-left">
					  <article class="has-text-centered skill">
						  <i class="devicon-javascript-plain colored"></i>
					  </article>
					</div>
					<div class="media-content">
					  <div class="content">
						  <h2 class="skill__name">Javascript <!-- <strong class="skill__expertise">Proficient</strong> --></h2>
						  <p><b>4 years</b> of Javascript development experience through two seperate internships and multiple side projects. Able to write <b>clean and efficient ES2015+ code.</b> Strong understanding of <b>DOM interactions, prototypical inheritance, functional programming and asynchronous functions.</b></p>
						  <dl>
						    <dt>As seen in:</dt>
						    <dd>
						    	<li><a href="https://github.com/tomcek112/HacMan">HacMan</a></li>
						    	<li><a href="https://github.com/tomcek112/GUTSHack">GGG</a></li>
						    	<li><a href="https://github.com/tomcek112/tbc">This very website</a></li>
							</dd>
						  </dl>
					  </div>
					</div>
				</article>
			</div>
		</div>
		<button class="modal-close is-large" aria-label="close" onclick="$('.modal__javascript').toggleClass('is-active');"></button>
	</div>

	<div class="modal modal__css">
		<div class="modal-background" onclick="$('.modal__css').toggleClass('is-active');"></div>
		<div class="modal-content">
			<div class="box">
				<article class="media">
					<div class="media-left">
					  <article class="has-text-centered skill">
						  <i class="devicon-css3-plain-wordmark colored"></i>
					  </article>
					</div>
					<div class="media-content">
					  <div class="content">
						  <h2 class="skill__name">CSS 3</h2>
						  <p><b>Deep understanding</b> of CSS 3 and advanced features such as <b>media queries, flexbox, animations and SVG.</b> Experience using <b>Sass</b> and <b>BEM.</b> Experience in designing and coding <b>responsive</b> websites that look great on every device.</p>
						  <dl>
						    <dt>As seen in:</dt>
						    <dd>
						    	<li><a href="https://github.com/tomcek112/HacMan">HacMan</a></li>
						    	<li><a href="https://github.com/tomcek112/tbc">This very website</a></li>
							</dd>
						  </dl>
					  </div>
					</div>
				</article>
			</div>
		</div>
		<button class="modal-close is-large" aria-label="close" onclick="$('.modal__css').toggleClass('is-active');"></button>
	</div>

	<div class="modal modal__html">
		<div class="modal-background" onclick="$('.modal__html').toggleClass('is-active');"></div>
		<div class="modal-content">
			<div class="box">
				<article class="media">
					<div class="media-left">
					  <article class="has-text-centered skill">
						  <i class="devicon-html5-plain-wordmark colored"></i>
					  </article>
					</div>
					<div class="media-content">
					  <div class="content">
						  <h2 class="skill__name">HTML 5</h2>
						  <p>Comfortable with all major features in HTML 5 including <b>canvas, HTML 5 video and SVG.</b> Experience using <b>Jade (Pug)</b> and similar abstractions.</p>
						  <dl>
						    <dt>As seen in:</dt>
						    <dd>
						    	<li><a href="https://github.com/tomcek112/HacMan">HacMan (canvas)</a></li>
						    	<li><a href="https://github.com/tomcek112/GUTSHack">GGG (canvas)</a></li>
						    	<li><a href="https://www.edinburghpreds.com">edinburghpreds.com</a></li>
						    	<li><a href="https://github.com/tomcek112/tbc">This very website</a></li>
							</dd>
						  </dl>
					  </div>
					</div>
				</article>
			</div>
		</div>
		<button class="modal-close is-large" aria-label="close" onclick="$('.modal__html').toggleClass('is-active');"></button>
	</div>

	<div class="modal modal__angular">
		<div class="modal-background" onclick="$('.modal__angular').toggleClass('is-active');"></div>
		<div class="modal-content">
			<div class="box">
				<article class="media">
					<div class="media-left">
					  <article class="has-text-centered skill">
						  <i class="devicon-angularjs-plain colored"></i>
					  </article>
					</div>
					<div class="media-content">
					  <div class="content">
						  <h2 class="skill__name">AngularJS</h2>
				  		  <p>Experience using AngularJS in <b>professional and personal environments</b> through internships and personal projects. Familiarity with all major components and underlying concepts.</p>
					  </div>
					</div>
				</article>
			</div>
		</div>
		<button class="modal-close is-large" aria-label="close" onclick="$('.modal__angular').toggleClass('is-active');"></button>
	</div>

	<div class="modal modal__bs">
		<div class="modal-background" onclick="$('.modal__bs').toggleClass('is-active');"></div>
		<div class="modal-content">
			<div class="box">
				<article class="media">
					<div class="media-left">
					  <article class="has-text-centered skill">
						  <i class="devicon-bootstrap-plain-wordmark colored"></i>
					  </article>
					</div>
					<div class="media-content">
					  <div class="content">
						  <h2 class="skill__name">Bootstrap</h2>
						  <p>Deployed <b>multiple websites</b> based on Bootstrap, developed with a <b>mobile-first</b> design approach. Understanding of all underlying features such as <b>CSS grids</b> and <b>responsive design.</b></p>
						  <dl>
						    <dt>As seen in:</dt>
						    <dd>
						    	<li><a href="https://www.edinburghpreds.com">edinburghpreds.com</a></li>
						    	<li><a href="https://github.com/tomcek112/KanyeRest">KanyeRest.com</a></li>
							</dd>
						  </dl>
					  </div>
					</div>
				</article>
			</div>
		</div>
		<button class="modal-close is-large" aria-label="close" onclick="$('.modal__bs').toggleClass('is-active');"></button>
	</div>

	<div class="modal modal__react">
		<div class="modal-background" onclick="$('.modal__react').toggleClass('is-active');"></div>
		<div class="modal-content">
			<div class="box">
				<article class="media">
					<div class="media-left">
					  <article class="has-text-centered skill">
						  <i class="devicon-react-plain-wordmark colored"></i>
					  </article>
					</div>
					<div class="media-content">
					  <div class="content">
						  <h2 class="skill__name">React</h2>
				  		  <p>High-level understanding of technologies used and applications in a professional environment. Familiarity with <b>component-based architecture</b> and <b>JSX.</b></p>
					  </div>
					</div>
				</article>
			</div>
		</div>
		<button class="modal-close is-large" aria-label="close" onclick="$('.modal__react').toggleClass('is-active');"></button>
	</div>

	<div class="modal modal__java">
		<div class="modal-background" onclick="$('.modal__java').toggleClass('is-active');"></div>
		<div class="modal-content">
			<div class="box">
				<article class="media">
					<div class="media-left">
					  <article class="has-text-centered skill">
						  <i class="devicon-java-plain-wordmark colored"></i>
					  </article>
					</div>
					<div class="media-content">
					  <div class="content">
						<h2 class="skill__name">Java</h2>
				  		<p>Experience designing and implementing <b>fast and efficient class hierarchies</b> as well as <b>web-services</b> and <b> REST APIs</b> using <b>Spring Boot.</b></p>
					  </div>
					</div>
				</article>
			</div>
		</div>
		<button class="modal-close is-large" aria-label="close" onclick="$('.modal__java').toggleClass('is-active');"></button>
	</div>

	<div class="modal modal__python">
		<div class="modal-background" onclick="$('.modal__python').toggleClass('is-active');"></div>
		<div class="modal-content">
			<div class="box">
				<article class="media">
					<div class="media-left">
					  <article class="has-text-centered skill">
						  <i class="devicon-python-plain-wordmark colored"></i>
					  </article>
					</div>
					<div class="media-content">
					  <div class="content">
						  <h2 class="skill__name">Python</h2>
						  <p>Understanding of Python and its applications in multiple contexts such as <b>web-servicing, data analysis and machine-learning.</b> Experience with multiple packages in those areas including <b>Numpy, Scikit-learn, Pandas and Flask.</b></p>
						  <dl>
						    <dt>As seen in:</dt>
						    <dd>
						    	<li><a href="https://github.com/tomcek112/KanyeRest">KanyeRest.com</a></li>
						    	<li><a href="https://github.com/deirdreams/Sudokode">Sudokode</a></li>
							</dd>
						  </dl>
					  </div>
					</div>
				</article>
			</div>
		</div>
		<button class="modal-close is-large" aria-label="close" onclick="$('.modal__python').toggleClass('is-active');"></button>
	</div>

	<div class="modal modal__node">
		<div class="modal-background" onclick="$('.modal__node').toggleClass('is-active');"></div>
		<div class="modal-content">
			<div class="box">
				<article class="media">
					<div class="media-left">
					  <article class="has-text-centered skill">
						  <i class="devicon-nodejs-plain colored"></i>
					  </article>
					</div>
					<div class="media-content">
					  <div class="content">
						  <h2 class="skill__name">NodeJS</h2>
				  		  <p>High-level understanding of underlying concepts and experience in <b>development, testing and deployment of APIs.</b></p>
					  </div>
					</div>
				</article>
			</div>
		</div>
		<button class="modal-close is-large" aria-label="close" onclick="$('.modal__node').toggleClass('is-active');"></button>
	</div>

	<div class="modal modal__aws">
		<div class="modal-background" onclick="$('.modal__aws').toggleClass('is-active');"></div>
		<div class="modal-content">
			<div class="box">
				<article class="media">
					<div class="media-left">
					  <article class="has-text-centered skill">
						  <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
					  </article>
					</div>
					<div class="media-content">
					  <div class="content">
						 <h2 class="skill__name">Amazon Web Services</h2>
				  		 <p>Experience with multiple parts of the offered packages including <b>EC2, S3 buckets and Lambda.</b> Learned about large-scale AWS development and associated <b>common practices</b> at my internship at Capital One.</p>
					  </div>
					</div>
				</article>
			</div>
		</div>
		<button class="modal-close is-large" aria-label="close" onclick="$('.modal__aws').toggleClass('is-active');"></button>
	</div>

	<div class="modal modal__git">
		<div class="modal-background" onclick="$('.modal__git').toggleClass('is-active');"></div>
		<div class="modal-content">
			<div class="box">
				<article class="media">
					<div class="media-left">
					  <article class="has-text-centered skill">
						  <i class="devicon-git-plain-wordmark colored"></i>
					  </article>
					</div>
					<div class="media-content">
					  <div class="content">
						  <h2 class="skill__name">Git</h2>
						  <p>Understanding of Git and its uses in private and professional settings. Experience in associated patterns and best practices such as <b>feature branches, pull-requests etc.</b></p>
						  <dl>
						    <dt><a href="https://github.com/tomcek112">See my GitHub page</a></dt>
						  </dl>
					  </div>
					</div>
				</article>
			</div>
		</div>
		<button class="modal-close is-large" aria-label="close" onclick="$('.modal__git').toggleClass('is-active');"></button>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="../static/js/countUp.js"></script>
<script src="../static/js/minute.js"></script>
<script src="../static/js/app.js"></script>


